<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficiario</title>
    <link rel="stylesheet" href="/css/Beneficiario.css">
</head>

<body>
    <!--Cabeçalho-->
    <header>
        <img src="/img/logoV3.png" alt="Logo do Alimenta Mais" class="logo">
        <div class="buttons-nav">
            <a id="profile"><img src="/img/perfil.svg" alt="Icone de perfil"></a>
            <a href="/"><img src="/img/sair.svg" alt="Icone para Sair"></a>
        </div>
    </header>

    <!--Sessão Inicial-->
    <section>
        <h2 class="titulo-inicial">Olá, <%= nome%>
        </h2> <!-- Nome do Doador -->
        <div class="container-solicitar">
            <div class="solicitar">
                <a href="/solicitar"><img src="/img/solicitar.svg" alt="">Solicitar</a>
            </div>
            <div class="solicitar">
                <a href="https://www.gov.br/saude/pt-br/assuntos/saude-brasil"><img src="/img/dica.svg" alt="">Dicas</a>
            </div>
        </div>


        <div class="historico">
            <h3 class="titulo-containeir">HISTÓRICO</h3>
            <div class="historico-lista">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Alimento</th>
                            <th>Quantidade</th>
                            <th>Observação</th>
                            <th>Data</th>
                            <th>Horário</th>
                            <th>Retirada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (solicitacoes.length > 0) { %>
                            <% solicitacoes.forEach(solicitacao => { %>
                                <tr>
                                    <td><%= solicitacao.solicitacao_alimento %></td>
                                    <td><%= solicitacao.solicitacao_qtd %></td>
                                    <td><%= solicitacao.solicitacao_obs %></td>
                                    <td><%= solicitacao.solicitacao_data %></td>
                                    <td><%= solicitacao.solicitacao_horario %></td>
                                    <td><%= solicitacao.endereco_retirada %></td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="6">Nenhuma solicitação registrada.</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>                
            </div>

        </div>
    </section>

    <!--Resultado-->

    <!--Perfil-->
    <div class="perfil" id="perfil">
        <div class="container-perfil">
            <h4>SEU PERFIL</h4>
            <img src="/img/profile.png" alt="">
            <div class="infos">
                <div class="info">
                    <h5>NOME</h5>
                    <p><%= nome%></p> <!-- Nome do Doador -->
                </div>
                <hr>
                <div class="info">
                    <h5>EMAIL</h5>
                    <p><%= benef_email %></p> <!-- E-mail do Doador -->
                </div>
                <hr>
                <div class="info">
                    <h5>ENDEREÇO</h5>
                    <p>
                        <%= benef_endereco %>, <br>
                        <%= benef_bairro || 'Bairro não informado' %>, <br> 
                        <%= benef_cidade %>, <br>
                        <%= benef_UF %> 
                        <%= benef_cep || 'CEP não informado' %> 
                    </p> <!-- Endereço do Doador -->
                </div>
            </div>
                <a href="/editarBenef" class="editar" id="editar">Atualizar</a>
        </div>
    </div>

    <script src="/js/homeDoador.js"></script>
</body>

</html>