<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doador</title>
    <link rel="stylesheet" href="/css/doador.css">
</head>

<body>
    <!--Cabeçalho-->
    <header>
        <img src="/img/logoV3.png" alt="Logo do Alimenta Mais" class="logo">
        <div class="buttons-nav">
            <a id="profile"><img src="/img/perfil.svg" alt="Icone de perfil"></a>
            <a href="/"><img src="/img/sair.svg" alt="Icone para Sair"></a>
        </div>
    </header>

    <!--Sessão Inicial-->
    <section>
        <h2 class="titulo-inicial">Olá, <%= nome_razao %></h2> <!-- Nome do Doador -->
        <div class="banner">
            <div class="mySwiper">
                <img src="/img/partoArte.jpg" alt="">
            </div>
        </div>

        <div class="doacao-historico">
            <div class="doacao">
                <a href="/fazerdoacao"><img src="/img/doacao.svg" alt="">Fazer Doação</a>
            </div>
            <div class="historico">
                <h3 class="titulo-containeir">HISTÓRICO</h3>
                <!-- Exibindo Histórico de Doações (se disponível) -->
                <div class="historico-lista">
<<<<<<< HEAD
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Alimento</th>
                                <th>Quantidade</th>
                                <th>Observação</th>
                                <th>Entrega</th>
                                <th>Data</th>
                                <th>Horário</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (doacoes.length > 0) { %>
                                <% doacoes.forEach(doacao => { %>
                                    <tr>
                                        <td><%= doacao.doacao_alimento %></td>
                                        <td><%= doacao.doacao_qtd %></td>
                                        <td><%= doacao.doacao_obs %></td>
                                        <td><%= doacao.doacao_entrega %></td>
                                        <td><%= doacao.doacao_data %></td>
                                        <td><%= doacao.doacao_horario %></td>
                                    </tr>
                                <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="7">Nenhuma doação registrada.</td>
                                </tr>
                            <% } %>
                        </tbody>
                        
                    </table>
                    
=======

>>>>>>> a551f2f85d569a9f44873d0be30e86ca90f58266
                </div>
                
            </div>
        </div>
    </section>

    <!--Resultado-->

    <!--Perfil-->
    <div class="perfil" id="perfil">
        <div class="container-perfil">
            <h4>SEU PERFIL</h4>
            <img src="/img/profile.png" alt="">
            <div class="infos">
                <div class="info">
                    <h5>NOME</h5>
                    <p><%= nome_razao %></p> <!-- Nome do Doador -->
                </div>
                <hr>
                <div class="info">
                    <h5>EMAIL</h5>
                    <p><%= doador_email %></p> <!-- E-mail do Doador -->
                </div>
                <hr>
                <div class="info">
                    <h5>ENDEREÇO</h5>
                    <p>
                        <%= doador_endereco %>, <br>
                        <%= doador_bairro || 'Bairro não informado' %>, <br> 
                        <%= doador_cidade %>, <br>
                        <%= doador_UF %> 
                        <%= doador_cep || 'CEP não informado' %> 
                    </p> <!-- Endereço do Doador -->
                </div>
            </div>
<<<<<<< HEAD
                <a href="/editar" class="editar" id="editar">Atualizar</a>
=======
                <button class="editar" id="editar">Atualizar</button>
>>>>>>> a551f2f85d569a9f44873d0be30e86ca90f58266
        </div>
    </div>

    <script src="/js/homeDoador.js"></script>
</body>

</html>
