<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Informações</title>
  <link rel="stylesheet" href="/css/editar.css">
</head>

<body>
  <header>
    <img src="/img/logoV3.png" alt="Logo do Alimenta Mais" class="logo">
    <div class="buttons-nav">
      <a href="/"><img src="/img/sair.svg" alt="Ícone para Sair"></a>
    </div>
  </header>
  <section>
      <form action="/editarDoador" method="POST">
        <div class="formulario">
          <h4 class="titulo">Editar Informações de <span>
              <%= nome_razao %>
            </span></h4>
          <input type="hidden" name="id_doador" value="<%= userId %>">
          <div class="inputForm">

            <div class="inputs">
              <div>
                <label for="doador_email">Email:</label> <br>
                <input type="email" id="doador_email" name="doador_email" value="<%= doador_email %>">
              </div>
              <div>
                <label for="doador_senha">Senha:</label> <br>
                <input type="text" id="doador_senha" name="nova_senha" placeholder="Digite sua nova Senha">
              </div>
            </div>

          </div>
          <div class="inputForm">
            <div class="inputs">
              <div>
                <label for="doador_telefone">Telefone:</label> <br>
                <input type="text" id="doador_telefone" name="doador_telefone" value="<%= doador_telefone %>">
              </div>
              <div>
                <label for="doador_endereco">Endereço:</label> <br>
                <input type="text" id="doador_endereco" name="doador_endereco" value="<%= doador_endereco %>">
              </div>
            </div>
          </div>
          <div class="inputForm">
            <div class="inputs">
              <div>
                <label for="doador_cep">CEP:</label><br>
                <input type="text" id="doador_cep" name="doador_cep" value="<%= doador_cep %>">
              </div>
              <div>
                <label for="doador_cidade">Cidade:</label> <br>
                <input type="text" id="doador_cidade" name="doador_cidade" value="<%= doador_cidade %>">
              </div>
              <div>
                <label for="doador_bairro">Bairro:</label> <br>
                <input type="text" id="doador_bairro" name="doador_bairro" value="<%= doador_bairro %>">
              </div>
              <div>
                <label for="doador_UF">UF:</label> <br>
                <input type="text" id="doador_UF" name="doador_UF" value="<%= doador_UF %>" maxlength="2">
              </div>
            </div>
          </div>

          <div class="buttons">
            <a href="/doadorHome" class="button del">Voltar</a>
            <button type="submit" class="button edit">Salvar</button>
          </div>
        </div>
      </form>
  </section>

  
</body>

</html>