<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Informações</title>
  <link rel="stylesheet" href="/css/editar.css">
</head>

<body>
  <header>
    <img src="/img/logoV3.png" alt="Logo do Alimenta Mais" class="logo">
    <div class="buttons-nav">
      <a id="profile"><img src="/img/perfil.svg" alt="Ícone de perfil"></a>
      <a href="/"><img src="/img/sair.svg" alt="Ícone para Sair"></a>
    </div>
  </header>
  <section>
    <form action="/editarBeneficiario" method="POST">
      <div class="formulario">
          <h4 class="titulo">Editar Informações de <span>
              <%= nome %>
            </span></h4>
          <input type="hidden" name="id_beneficiario" value="<%= userId %>">
          <div class="inputForm">
            <div class="inputs">
              <div>
                <label for="benef_email">Email:</label> <br>
                <input type="email" id="benef_email" name="benef_email" value="<%= benef_email %>">
              </div>
              <div>
                <label for="benef_senha">Senha:</label> <br>
                <input type="text" id="benef_senha" name="nova_senha" placeholder="Digite sua nova Senha">
              </div>
            </div>
          </div>
          <div class="inputForm">
            <div class="inputs">
              <div>
                <label for="benef_telefone">Telefone:</label> <br>
                <input type="text" id="benef_telefone" name="benef_telefone" value="<%= benef_telefone %>">
              </div>
              <div>
                <label for="benef_endereco">Endereço:</label> <br>
                <input type="text" id="benef_endereco" name="benef_endereco" value="<%= benef_endereco %>">
              </div>
            </div>
          </div>
          <div class="inputForm">
            <div class="inputs">
              <div>
                <label for="benef_cep">CEP:</label> <br>
                <input type="text" id="benef_cep" name="benef_cep" value="<%= benef_cep %>"  onblur="buscaCep(this.value)">
              </div>
              <div>
                <label for="benef_cidade">Cidade:</label> <br>
                <input type="text" id="benef_cidade" name="benef_cidade" value="<%= benef_cidade %>">
              </div>
              <div> 
                <label for="benef_bairro">Bairro:</label> <br>
                <input type="text" id="benef_bairro" name="benef_bairro" value="<%= benef_bairro %>">
              </div>
              <div>
                <label for="benef_UF">UF:</label> <br>
                <input type="text" id="benef_UF" name="benef_UF" value="<%= benef_UF %>" maxlength="2">
              </div>
            </div>
          </div>
          <div class="buttons">
            <a href="/beneficiarioHome" class="button del">Voltar</a>
            <button type="submit" class="button edit">Salvar</button>
          </div>
        </div>
      </form>
  </section>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
  <script src="/js/formBenef.js"></script>
</body>

</html>